<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="./vendor/autoload.php"
  colors="true">
  <testsuites>
    <testsuite name="api-token">
      <directory>./tests/Command/ApiToken</directory>
    </testsuite>
    <testsuite name="cloud-account">
      <directory>./tests/Command/CloudAccount</directory>
    </testsuite>
    <testsuite name="console">
      <file>./tests/ConsoleTest.php</file>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
</phpunit>
